@charset "utf-8";

// Import a Google Font

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap&family=Open+Sans:wght@700&display=swap&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

// Set your brand colors
$cultured: #f5f5f5;
$black: #000000;
$ultra-red: #f21e4e;
$dark-liver: #464853;

// Update Bulma's global variables
$family-sans-serif: "Inter", sans-serif;
$family-monospace: "Open sans", sans-serif;
$family-secondary: "Montserrat", sans-serif;
$grey-dark: $dark-liver;
$grey-light: $cultured;
$primary: $black;
$link: $ultra-red;

$radius: 0px;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$body-font-size: 1.4rem;
$footer-background-color: $grey-light;
$footer-padding: 6rem 1rem 2rem;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-focus-color: none;
$input-focus-box-shadow-color: none;
$input-radius: $radius;
$navbar-burger-color: $ultra-red;

body {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.logo-style {
  font-family: $family-monospace;
  font-size: 113px;
  line-height: 125px;
  font-weight: 700;
}

.navbar {
  background-color: $grey-light !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;

  .navbar-menu {
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;

    .navbar-end {
      .navbar-item {
        line-height: 100px !important;
        padding: 0px 15px !important;
        text-align: center !important;
        color: #454545 !important;
        font-size: 16px !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
      }

      .navbar-item :active,
      :focus,
      :hover {
        color: $ultra-red !important;
        -webkit-transition: all 0.5s ease !important;
        transition: all 0.5s ease !important;
      }

      .navbar-item:hover::after,
      .navbar-item.active::after {
        position: absolute !important;
        content: "" !important;
        left: 0px !important;
        top: auto !important;
        width: 6px !important;
        height: 6px !important;
        background-color: $ultra-red !important;
        right: 0 !important;
        bottom: 30px !important;
        border-radius: 50% !important;
        text-align: center !important;
        margin: auto !important;
        -webkit-transition: all 0.5s ease !important;
        transition: all 0.5s ease !important;
      }
    }
  }
}

.navbar-burger {
  background-color: transparent !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;

  span {
    height: 2px !important;
    width: 20px !important;
  }
}

.scroll-progress-bar-motion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: $ultra-red;
  transform-origin: 0%;
  z-index: 1050;
}

.i-am {
  h6 {
    font-family: $family-secondary;
    color: $dark-liver;
    font-weight: 500;
    font-size: 0.7rem;
    margin: 0.3rem 0.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }
}

.sub_text {
  max-width: 410px !important;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

//Button

.btn-custom-form-btn {
  cursor: pointer !important;
  width: 100% !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  position: relative !important;
  background-color: $ultra-red !important;
  line-height: 24px !important;
  border: 0 !important;
  color: $cultured !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 10px 24px !important;
  text-transform: capitalize !important;
  border-radius: 5px !important;
  z-index: 1 !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.btn-custom-form-btn::after {
  position: absolute !important;
  content: "" !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-color: $grey-dark !important;
  z-index: -1 !important;
  -webkit-transform-origin: center !important;
  transform-origin: center !important;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.btn-custom-form-btn:hover::after,
.btn-custom:focus::after {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.btn-custom {
  cursor: pointer !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  position: relative !important;
  background-color: $ultra-red !important;
  line-height: 24px !important;
  border: 0 !important;
  color: $cultured !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 10px 24px !important;
  text-transform: capitalize !important;
  border-radius: 5px !important;
  z-index: 1 !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.btn-custom::after {
  position: absolute !important;
  content: "" !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-color: $grey-dark !important;
  z-index: -1 !important;
  -webkit-transform-origin: center !important;
  transform-origin: center !important;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.btn-custom:hover::after,
.btn-custom:focus::after {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

//H1, H2, H3, H4

h1,
h2,
h3,
h4 {
  color: $primary !important;
  line-height: 1.1em !important;
  letter-spacing: -0.045em !important;
}

.homepage_hero_text {
  font-size: 70px !important;
  font-weight: 900 !important;
  max-width: 500px !important;
}

.aboutpage_h4 {
  font-family: $family-monospace;
}

.homepage_subtitle_text {
  font-size: 18px !important;
  font-weight: 400 !important;
  max-width: 500px !important;
}

.icon-color {
  color: $ultra-red;
  cursor: pointer;
  -webkit-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;

  :hover {
    color: $dark-liver;
    -webkit-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
  }
}

.skills-icon-color:hover {
  color: $dark-liver;
}

.form-button-bgcolor {
  background: $ultra-red !important;
  color: $cultured !important;
  border-color: $ultra-red !important;
}

.hero-me {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(./assets/about.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: none;
  transition: all 1s ease-in-out;
  width: 35rem;

  @media (max-width: 500px) {
    width: 23rem;
    height: 23rem;
  }

  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: none;
  transition: all 1s ease-in-out;

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }
}

// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";
